@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS variables */
:root {
  --background: #ffffff;
  --foreground: #dedddd;
  --text: #414141;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #cecece;
    --foreground: #eae8e8;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}
