@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS variables */
:root {
  --background: #ffffff;
  --foreground: #dedddd;
  --text: #414141;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #cecece;
    --foreground: #eae8e8;
    --new-color: #f5f5f5;
  }
}

/* .custom-next-arrow,
.custom-prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.custom-next-arrow svg,
.custom-prev-arrow svg {
  width: 24px;
  height: 24px;
} */
